header, footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px ;
    justify-content: space-between;
    background-color: #0000005d;
}
.martinsLogo{
    width: 150px;
}
nav{
    padding: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
a, a:visited {
    color: whitesmoke
}
a{
    margin: 0 20px;
}
h1{
    font-size: 4em;
}